.item {
  width: 950px;
  height: 406px;
  margin-top: 20px;
  background-color: white;
}
h3 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 23px;
  margin-left: 30px;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 13px;
  margin-left: 30px;
}
.item .picture {
  width: 890px;
  height: 150px;
  background-color: #c4c4c4;
  margin-left: 30px;
  margin-top: 23px;
}
.item p {
  width: 890px;
  height: 95px;
  margin-top: 28px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
}
