.header {
  width: 1280px;
  height: 140px;
  background-color: white;
  margin-left: 80px;
}
.navigation {
  background-color: #333333;
  color: white;
  width: 1280px;
  height: 50px;
  position: relative;
  margin-left: 80px;
}
.main {
  display: flex;
  width: 950px;
  height: 832px;

  margin-left: 80px;
}
.macbook {
  background-color: #f1f1f1;
}
.footer {
  width: 1280px;
  height: 63px;
  background-color: #dddddd;
  margin: 59px 80px 0px 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  vertical-align: top;
}
